body{
    background-image: url(./imagenes/bg.png);
}
@font-face {
    font-family: "RickFont";
    src:url("./imagenes/fuente.ttf"),
    }

.rickFont{
    font-family: RickFont;
    color: rgb(47, 255, 0);
}
